

 <ul class="container_menu" *ngIf="!IsOn">
   
     <div class="menu_component">
              <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/products']">
                        <span class='glyphicon glyphicon-list-alt' style= "border: 2px orange solid;
padding: 10px;
border-radius: 30px;"></span> {{ 'List' | translate }}
                    </a>
                </li>
    </div>
     <div class="menu_component" *ngIf="isAuth">
              <li [routerLinkActive]="['link-active']"  style = "color:orange" (click) = "logout()">
           
                        <span class='glyphicon glyphicon-off' style="border: 2px orange solid;
padding: 10px;
border-radius: 30px;"></span> {{ 'Sign Out' | translate }}
                    
                </li>
    </div>
     <div class="menu_component" *ngIf="!isAuth">
              <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/login']">
                        <span class='glyphicon glyphicon-user' style="border: 2px orange solid;
padding: 10px;
border-radius: 30px;"></span> {{ 'Sign in' | translate }}
                    </a>
                </li>
    </div>
     <div class="menu_component" *ngIf="!isAuth">
              <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/register']">
                        <span class='glyphicon glyphicon-lock' style="border: 2px orange solid;
padding: 10px;
border-radius: 30px;"></span> {{ 'Sign up' | translate }}
                    </a>
                </li>
    </div>
   <div class="menu_component">
              <li >
<OrderUser *ngIf="isAuth"></OrderUser>
          
                </li>
    </div>
    <div class="menu_component">
              <li >
              <search></search>
                           </li>
    </div>
     <div class="btn-group" style ="margin-top: 15px;" >
                <button *ngFor="let lang of supportedLanguages"
                        (click)="selectLang(lang.value)"
                        class="lang_btn" [class.lang_btn_sc]="isCurrentLang(lang.value)">
                    {{ lang.display }}
                </button>
            </div>

<div class='button_on' *ngIf="">
    <span class="glyphicon glyphicon-chevron-up" (click) ="Turn()" value="On"> </span> 
</div>
</ul>



           
