<div class="search">
    <label>Name</label>
    <input type="text" [(ngModel)]="name">
    <label>country</label>
    <input type="text" [(ngModel)]="country">
    <label>minprice</label>
    <input type="number" [(ngModel)]="minprice">
    <label>maxprice</label>
    <input type="number" [(ngModel)]="Price">
    <label>category</label>
    <input type="text" [(ngModel)]="category">
    <button (click)="search()"> Search</button>
</div>
<div *ngIf="!products">
    <p> Create your search</p>
</div>
<div *ngIf="products">
    <ul *ngFor="let prod of products">
        <li>{{prod.category}}</li>
        <li>{{prod.name}}</li>
        <li>{{prod.price}}</li>
        <li>{{prod.country}}</li>
        <a href="http://localhost:55022/product/{{prod.productId}}">Get Info</a>
    </ul>
</div>