
<p style="text-align: center;
padding: 30px 30px 40px 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
font-size: 40px;
text-shadow: 1px 1px 2px black;
color:orange;">{{"Confirm Pay"|translate}}</p>
<div *ngIf="!loading">
<div *ngIf="orders">
    <div *ngIf="!empty"  class="wrap_table">
        <table class="orders_table" >
            <tbody>
                <tr><th>{{ 'First name'|translate}}</th><th></th><th>{{"Country"|translate}}</th><th>{{'Category'|translate}}</th><th>{{"Count"|translate}}</th><th>{{'Price'|translate}}</th></tr>
                <tr *ngFor="let order of orders">
                    <td> {{order.product.name}}</td>
                    <td> <img src="{{order.product.path }}" width="40px" height="50px" /></td>
                    <td> {{order.product.country}}</td>
                    <td> {{order.product.category}}</td>
                    <td> {{order.count}}</td>

                    <td>
                        {{order.product.price}}
                        {{order.total_price}}
                    </td>
                </tr>

            </tbody>
        </table>
        <div *ngIf="confirmLink" class="links">
            <a href="{{confirmLink}}"> <img src="/paypal.png" height="50px" width="70px"class="paypal"> </a>
            <a href="{{pathExcel}}"><img src="/excel.png" height="30px" width="40px" class="excel"></a>
        </div>

        <div *ngIf="!confirmLink">
            <p> please wait, your transactions will be created coming soon</p>
        </div>
    </div>
</div>
</div>
<div *ngIf="loading" >
<div class="blob-div">
    <div class="blob blob-0"></div>
<div class="blob blob-1"></div>
<div class="blob blob-2"></div>
<div class="blob blob-3"></div>
<div class="blob blob-4"></div>
<div class="blob blob-5"></div>
</div>
</div>