td{
	padding: 10px;
	text-align: center;
}
th{
	text-align: center;
}
table {
    z-index: 200;
    width: 900px;
    border: 2px solid black;
padding-bottom: 40px;
padding-left: 40px;
background: rgb(87, 11, 162);
padding-top: 40px;
color: orange;
box-shadow: inset 11px 11px 6px -4px rgba(0,0,0,0.75);
}
.excel{
    float: right;
margin-right: 120px;
margin-top: 10px;
}
.paypal{
    margin-left: 40px;
}
.links{
    padding-left: 10%;
padding-right: 20%;
}
.blob-div{
margin-left: auto;
margin-right: auto;
margin-top: 100px;
    border-left: 2px #f98809 solid;
    border-radius: 138px;
    width: 200px;
    padding: 25px;
    position: relative;
    height: 200px;
    top: 50%;
    border-right: 2px orange solid;
    animation: animate-blob-div 1.5s infinite;
}
.blob {
    width: 2rem;
    height: 2rem;
    background: orange;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 1rem);
    top: calc(50% - 1rem);
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.25);
}

.blob-2 { animation: animate-to-2 1.5s infinite; }
.blob-3 { animation: animate-to-3 1.5s infinite; }
.blob-1 { animation: animate-to-1 1.5s infinite; }
.blob-4 { animation: animate-to-4 1.5s infinite; }
.blob-0 { animation: animate-to-0 1.5s infinite; }
.blob-5 { animation: animate-to-5 1.5s infinite; }
.orders_table{
 width: 70%;
margin-left: 7%;   
}
.wrap_table{
 width: 100%;
padding-left: 10%;   
}
@media screen and (max-width:610px){
    .excel{
        margin-right: 20%;
    }
}
@media screen and (max-width:500px){
    .excel{
        margin-right: 15%;
    }
}
@media screen and (max-width:450px){
    .orders_table{
        margin-left: 2%;
    }
    .wrap_table{
 width: 100%;
padding-left: 2%;   
}
}
@media screen and (max-width:370px){
    .orders_table{
        margin-left: 0%;
    }
    .wrap_table{
 width: 100%;
padding-left: 15%;   
}
}
@media screen and (max-width: 370px){
    
    .links{
    padding-left: 5%;
}
      .paypal{
margin-left: 0;
      }

 td:nth-child(2)
 {
display: none;
    }
  
     td:nth-child(3)
 {
display: none;
    }

     td:nth-child(4)
 {
display: none;
    }
  th:nth-child(2)
 {
display: none;
    }
    th:nth-child(3)
 {
display: none;
    }
       th:nth-child(4)
 {
display: none;
    }

    }
@keyframes animate-blob-div{
	0%{
     transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}
@keyframes animate-to-2 {
    25%, 75% { transform: translateX(-1.5rem) scale(0.75); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-3 {
    25%, 75% { transform: translateX(1.5rem) scale(0.75); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-1 {
    25% { transform: translateX(-1.5rem) scale(0.75); }
    50%, 75% { transform: translateX(-4.5rem) scale(0.6); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-4 {
    25% { transform: translateX(1.5rem) scale(0.75); }
    50%, 75% { transform: translateX(4.5rem) scale(0.6); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-0 {
    25% { transform: translateX(-1.5rem) scale(0.75); }
    50% { transform: translateX(-4.5rem) scale(0.6); }
    75% { transform: translateX(-7.5rem) scale(0.5); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-5 {
    25% { transform: translateX(1.5rem) scale(0.75); }
    50% { transform: translateX(4.5rem) scale(0.6); }
    75% { transform: translateX(7.5rem) scale(0.5); }
    95% { transform: translateX(0rem) scale(1); }
}
