.bucket_of{
    color:orange;
}
.bucket_on {
    z-index: 200;
    width: 900px;
    border: 2px solid black;
    margin-left: -400px;

margin-top: 80px;

position: fixed;
padding-bottom: 40px;
padding-left: 40px;
background: rgb(39, 4, 76);
padding-top: 40px;
color: orange;
}
td,th{
    margin-left:5px;
    padding: 10px;
}
.bucket_of_button{
    z-index:200;
    position: fixed;
    margin-top: 32px;
    margin-left: 825px;
}