

<div *ngIf="IsOn" class="bucket_on">
    <p *ngIf="!Orders">Loading....</p>
    <div *ngIf="IsHaveOrders=='Have'">
        <table>
            <tbody>
                 
                <order *ngFor="let order of Orders" [order]="order">
                  
                </order>
            </tbody>
        </table>
        <span class="glyphicon glyphicon-ok" (click)="BuyOrders()" id="ok"></span>
    </div>
    <div *ngIf="IsHaveOrders=='Doesn`t have'">
        <p style='text-align:center;'> You doesn`t have Orders</p>
    </div>
    
    <span class="glyphicon glyphicon-remove" 
    style="color:orange;
    margin-top: 15px;

position: absolute;

right: 20px;" (click)="OnOrders()"></span>
</div>
    <div  class="bucket_of" >
        <span class="glyphicon glyphicon-shopping-cart" (click)="OnOrders()" id="navigation"></span>
    </div>
