<?xml version="1.0" encoding="utf-8"?>
<configuration>

<configSections>
  <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
</configSections>

<!-- PayPal SDK settings -->
<paypal>
  <settings>
    <add name="mode" value="sandbox"/>
    
    <!-- REST API credentials -->
    <add name="clientId" value="_client_Id_"/>
    <add name="clientSecret" value="_client_secret_"/>
  
    <!-- Classic API credentials -->
    <add name="account1.apiUsername" value="_api_username_"/>
    <add name="account1.apiPassword" value="_api_password_"/>
  </settings>
</paypal>

</configuration>