
<div *ngIf="name">
    <h1 style="
align-content: center;
text-align: center;
margin: 50px;
color: orange;
text-shadow: 1px 1px 2px black, 0 0 1em #090604;margin-top:150px;">Information about {{name}}</h1>
   <div class="information_product">
    <img [src]="path" height="400px" width="300px"/>
    
     <div class="information">
     	<li>{{country}}</li>
        <li>{{price}}</li>
        <input type="number" id="count_order"name="count" [(ngModel)] = "count"  placeholder="0" min = "1" required/>
 </div>
    
</div>
<button (click)=" AddProductToBucket()" class="order_add">BUY</button>
</div>
<div *ngIf="!name">
    We don't find, please try again

</div>